<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NFC terminal</title>
	<link rel="stylesheet" href="./css/master.css">
</head>
<body>
	<div class="wrapper">
		<div class="terminal-border">
			<div class="terminal-window">
				<div class="terminal-title">
					<div class="terminal-title-btn">
						<span class="btn-close">&#x02022;</span>
						<span class="btn-mini">&#x02022;</span>
						<span class="btn-max">&#x02022;</span>
					</div>
					<div class="terminal-title-label">pi@raspbery:~</div>
					<div></div>
				</div>
				<div class="terminal-console">
					<span id="typed6"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>